<!--
  ~ SSD - Sistema per il dimensionamento scolastico
  ~ Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
  -->

<nav class="navbar navbar-expand-sm bg-white navbar-dark pb-0 pt-3" *ngIf="showNav" xmlns="http://www.w3.org/1999/html">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <div class="w-5">
                <ngx-spinner color="#17a2b8" bdColor="rgba(51,51,51,0)" size="small" type="ball-clip-rotate"
                             [fullScreen]="false"></ngx-spinner>
            </div>
        </li>

    </ul>
</nav>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Indirizzi di studio</h3>
                <h6 class="card-subtitle">Visualizza la distribuzione di un indirizzo di studio sulla mappa</h6>


                <label for="typeahead-focus">Indirizzo di studio:</label>
                <input
                        id="typeahead-focus"
                        type="text"
                        placeholder="Cerca o seleziona un indirizzo"
                        class="form-control"
                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                />

                <p-treeTable #dt
                             selectionMode="checkbox"
                             scrollHeight="30vh"
                             scrollable="true"
                             dataKey="codice"
                             [value]="indirizziRefactored"
                             [globalFilterFields]="['denominazione']"
                             [(selection)]="selectedNode1"
                             (onNodeSelect)="reloadIndirizziSelezionati($event)"
                             (onNodeUnselect)="reloadIndirizziSelezionati($event)"
                >
                    <ng-template pTemplate="summary">
                        <div class="ui-helper-clearfix" style="text-align: left">
                            <button [disabled]="indirizziSelezionati?.length==0" type="button" pButton
                                    (click)="annullaSelezione()"
                                    icon="fa fa-remove"
                                    iconPos="left" label="Annulla selezione"
                                    style="float:right"></button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col *ngFor="let col of columnsIndirizzi" [style.width]="col.width">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let col of columnsIndirizzi" [style.width]="col.width">
                                {{col.name}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                        <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">

                            <td>
                                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>

                                {{rowData['tipo']}}
                            </td>

                            <td>{{rowData['denominazione']}}</td>
                            <td style="text-align:center;">
                                <p-treeTableCheckbox [value]="rowNode"
                                                     style="margin: 0 auto; vertical-align: middle"></p-treeTableCheckbox>

                            </td>


                        </tr>
                    </ng-template>
                </p-treeTable>


                <hr/>

                <app-mappa-puglia id="1"
                                  (updateFiltraSedi)="aggiornaFiltraSedi($event)"
                                  (updateEtichette)="updateEtichette($event)"
                                  (onSelected)="onSelectedPoint($event)"
                                  [fields]="legendFields"
                                  style="height: 30vh"
                                  #mappaPuglia>
                    <ng-template #popup>
                        <div *ngIf="selectedSede">
                            <h3 *ngIf="selectedSede">{{selectedSede.codice}}
                                - {{selectedSede.denominazione}}</h3>

                            <table class="table tableFixHead">
                                <thead>
                                <tr>
                                    <th>Codice</th>
                                    <th>Denominazione</th>
                                    <th>Comune</th>
                                    <th>Tipo</th>
                                    <th>Alunni</th>
                                    <th>Disabili</th>
                                    <th>Classi</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <a href="#"
                                           (click)="$event.preventDefault();goIs(selectedSede.istituzioneScolastica.codice)">
                                            {{selectedSede.codice}}
                                        </a>
                                    </td>
                                    <td>{{selectedSede.denominazione}}</td>
                                    <td>{{selectedSede.comune}}</td>
                                    <td>{{selectedSede.tipologiaScuola}}</td>
                                    <td>{{selectedSede.alunni?.totaleAlunni|nd}}</td>
                                    <td>{{selectedSede.alunni?.totaleAlunniDisabili|nd}}</td>
                                    <td>{{selectedSede.alunni?.totaleClassi| nd}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table tableFixHead">
                                <thead>
                                <tr>
                                    <th>Codice</th>
                                    <th>Denominazione</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let indirizzi of selectedSede.indirizziDiStudio">
                                    <td>{{indirizzi.codice}}</td>
                                    <td>{{indirizzi.denominazione}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>


                </app-mappa-puglia>
                <div class="my-2">
                    <span>
                        I punti indicano i Punti di Erogazione nei quali è attivo almeno uno degli indirizzi selezionati.<br>
                        Le diverse gradazioni cromatiche indicano il numero dei Plessi scolastici raggiungibili in 30 minuti di percorrenza.
                    </span>
                </div>


                <div *ngIf="showRisultati">

                    <h4 class="pt-4 pb-2">Dettaglio sedi</h4>


                    <p-table [value]="sediConIndirizzo" selectionMode="single" scrollHeight="500px"
                             [(selection)]="risultatoSelezionato"
                             (onRowSelect)="indirizzoAndSedeSelected($event)"
                             dataKey="codice" scrollable="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of columns">{{col.name}}</th>


                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                            <tr>
                                <td [pSelectableRow]="rowData">{{rowData.codice}}</td>
                                <td [pSelectableRow]="rowData">{{rowData.comune}}</td>
                                <td [pSelectableRow]="rowData">{{rowData.denominazione}}</td>


                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div *ngIf="selectedSede" style="text-align: left">
                                Sede selezionata: {{selectedSede.codice}}
                            </div>
                        </ng-template>

                    </p-table>


                </div>

            </div>
        </div>
    </div>
</div>


<ng-template #rt let-r=" result">
    {{ r.denominazione }}
</ng-template>
