<!--
  ~ SSD - Sistema per il dimensionamento scolastico
  ~ Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
  -->

<div class="card">
    <div class="card-body">
        <div class="d-flex">

            <button class="btn btn-outline-info mr-2" [ngClass]="{ 'active' : isCpiaLivelloActive }"
                    (click)="toggleCpiaLivello()"> Cpia
            </button>
            <button class="btn btn-outline-info ml-2 mr-2" [ngClass]="{ 'active' : isPrimoLivelloActive }"
                    (click)="togglePrimoLivello()"> I Livello
            </button>
            <button class="btn btn-outline-info" [ngClass]="{ 'active' : isSecondoLivelloActive }"
                    (click)="toggleSecondoLivello()"> II Livello
            </button>
        </div>

    </div>
</div>

<app-cpia-general-data-table *ngIf="isCpiaLivelloActive && rowsCpia" [rows]="rowsCpia"
                             [annoScolastico]="annoScolastico"
                             [columns]="columnsCpia"></app-cpia-general-data-table>
<app-cpia-livello1-table *ngIf="isPrimoLivelloActive && rowsCpiaLivello1" [rows]="rowsCpiaLivello1"
                         [annoScolastico]="annoScolastico" [columns]="columnsCpiaLivello1"></app-cpia-livello1-table>
<app-cpia-livello2-table *ngIf="isSecondoLivelloActive && rowsCpiaLivello2" [rows]="rowsCpiaLivello2"
                         [annoScolastico]="annoScolastico" [columns]="columnsCpiaLivello2"></app-cpia-livello2-table>
