<div class="error-box">
    <div class="error-body text-center">
        <h1>404</h1>
        <h3 class="text-uppercase">Pagina non trovata</h3>
        <a class="btn btn-info btn-rounded waves-effect waves-light m-b-40" [routerLink]="['/']">Back
            to home</a></div>

</div>
