<!--
  ~ SSD - Sistema per il dimensionamento scolastico
  ~ Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
  -->

<div class="card">
    <div class="card-body">
        <div class="d-flex">
            <div>
                <h3 class="card-title"><span class="lstick"></span>Credits</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xlg-12">


                <p>
                    Il progetto è caratterizzato dalla sinergia, all'interno del gruppo di lavoro, di competenze
                    eterogene e
                    multidisciplinari, in grado di coprire gli aspetti tecnologici, organizzativi e di processo.
                </p>

                <h5>Regione Puglia, Sezione Istruzione e Università</h5>
                <ul>
                    <li><span class="nome">Maria Raffaella Lamacchia</span> e <span class="nome">Annalisa Bellino</span>,
                        dirigenti
                    </li>
                    <li><span class="nome">Rocco Pastore</span>, responsabile del procedimento</li>
                    <li><span class="nome">Ilaria Turlione</span> e <span class="nome">Giuseppe Volpe</span>, supporto
                        tecnico
                    </li>
                </ul>

                <h5>ARTI, Agenzia Regionale per la Tecnologie e l'Innovazione</h5>
                <ul>
                    <li><span class="nome">Sara La Bombarda</span>, responsabile IT di progetto</li>
                    <li><span class="nome">Massimo Ianigro</span>, <span class="nome">Stefano Serviddio</span> e
                        <span class="nome">Emilio Vitulano</span>, progettazione e sviluppo software
                    </li>
                </ul>

                <h5>Hanno collaborato alla verifica ed elaborazione dei dati:</h5>
                <ul>
                    <li><span class="nome">Andrea Sabato</span> e <span class="nome">Cecilia Fallacara</span>,
                        responsabili Edilizia Scolastica e
                        ARES Regione Puglia
                    </li>
                    <li><span class="nome">Michele Rizzo</span> e <span class="nome">Giacinto Capodivento</span>,
                        supporto tecnico ARES ARTI
                    <li><span class="nome">Mariana Muschio Schiavone</span>, <span
                            class="nome">Raffaella Di Ciommo</span> e <span class="nome">Francesca Cantore</span>,
                        <span class="nome">Deloitte and Touche</span>
                    </li>
                    <li><span class="nome">Silvana Milella</span>, consulente Dipartimento Economea e Finanza Uniba</li>
                </ul>
            </div>
        </div>
    </div>
</div>
