<div *ngIf="gradi && showGradi" class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <label for="gradi"> Filtra per grado
            <select class="form-control " name="gradi" id="gradi"
                    [(ngModel)]="gradoSelected" (change)="filter()">
                <option value="Tutti">Tutti</option>

                <option [value]="grado" *ngFor="let grado of gradi ">{{grado}}</option>
            </select>
        </label>
        <span class="font-weight-bold">Filtro selezionato: {{gradoSelected}}</span>
    </div>

    <div *ngIf="province && showProvince" class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <label for="provincia"> Filtra per provincia
            <select class="form-control " name="provincia" id="provincia"
                    [(ngModel)]="provinciaSelected" (change)="filter()">
                <option value="Tutti">Tutti</option>

                <option [value]="provincia.label " *ngFor="let provincia of province ">{{provincia.label}}</option>
            </select>
        </label>
        <span class="font-weight-bold">Filtro selezionato: {{provinciaSelected}}</span>
    </div>

    <div *ngIf="ambiti && showAmbiti" class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <label for="ambiti"> Seleziona ambito
            <select class="form-control " name="ambiti " id="ambiti" [(ngModel)]="ambitoSelected" (change)="filter()">
                <option value="Tutti">Tutti</option>

                <option [value]="ambito.codice " *ngFor="let ambito of ambiti ">{{ambito.codice}}</option>
            </select>
        </label>
        <span class="font-weight-bold">Filtro per ambito: {{ambitoSelected}}</span>
    </div>
    <div *ngIf="comuni && showComuni" class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <label for="comuni"> Seleziona comune
            <select class="form-control " name="comuni " id="comuni" [(ngModel)]="comuneSelected" (change)="filter()">
                <option value="Tutti">Tutti</option>

                <option [value]="comune.nome " *ngFor="let comune of comuni ">{{comune.nome}}</option>
            </select>
        </label>
        <span class="font-weight-bold">Filtro per comune: {{comuneSelected}}</span>
    </div>
    <div *ngIf="denominazioni && showDenominazioni" class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <label for="denominazioni"> Seleziona denominazione IS
            <select class="form-control " name="denominazioni " id="denominazioni " [(ngModel)]="denominazioneSelected"
                    (change)="filter()">
                <option value="tutti">Tutti</option>

                <option [value]="denominazioneSelected "
                        *ngFor="let denominazione of denominazioni ">{{denominazione}}</option>
            </select>
        </label>
        <span class="font-weight-bold">Filtro per denominazione: {{denominazioneSelected}}</span>
    </div>


    <div *ngIf="rows && showRicerca" class=" col-xl-2 col-lg-2   col-md-2 col-sm-12 col-xs-12 ">
        <label>Ricerca
            <input class=" form-control pull-right " type="text" placeholder="Cerca nella tabella"
                   (keypress)="updateFilterWithText($event)"/>
        </label>
        <p><span class="font-weight-bold">Filtro testuale: {{searchText}}</span>
        </p>


    </div>
</div>
<div class="row " *ngIf="loader">
    <div class="offset-xl-5 col-xl-1  offset-lg-5 col-lg-1 ">
        <ngx-spinner color="#17a2b8" bdColor="rgba(51,51,51,0)" size="large" type="ball-clip-rotate"
                     [fullScreen]="false">
            <p class="mt-8" style="font-size: 18px;  color: #17a2b8">Caricamento...</p>

        </ngx-spinner>

    </div>

</div>
