<!--
  ~ SSD - Sistema per il dimensionamento scolastico
  ~ Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
  -->

<div *ngIf="showConfini" class="btn-group mr-1  ">
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-primary" ngbDropdownToggle>
            Confini
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" (click)="toggleRegioni()">Puglia
                <i class="fa fa-check" *ngIf="showConfini.showConfiniRegionali"></i>
            </button>

            <button class="dropdown-item" (click)="toggleAmbiti()">Ambiti
                <i class="fa fa-check" *ngIf="showConfini.showConfiniAmbiti"></i>
            </button>
            <button class="dropdown-item" (click)="toggleDistretti()">Distretti
                <i class="fa fa-check" *ngIf="showConfini.showConfiniDistretti"></i>
            </button>

            <button class="dropdown-item" (click)="toggleProvince()">Province
                <i class="fa fa-check" *ngIf="showConfini.showConfiniProvinciali"></i>
            </button>


            <button class="dropdown-item" (click)="toggleUnioniComuni()">Unioni Comuni
                <i class="fa fa-check" *ngIf="showConfini.showConfiniUnioniComune"></i>
            </button>

            <button class="dropdown-item" (click)="toggleComuni()">Comuni
                <i class="fa fa-check" *ngIf="showConfini.showConfiniComunali"></i>
            </button>


        </div>


    </div>

</div>
