/*!
 * SSD - Sistema per il dimensionamento scolastico
 * Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
 */

:host /deep/ .ngx-datatable.material .datatable-header .datatable-header-cell {
  text-align: center;

  &:first-child {
    text-align: left;
  }
}


:host /deep/ .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {


  height: 60vh !important;
  text-align: center;

  &:first-child {
    text-align: left;
  }

  & .btn-custom-save {
    transform: translate(-50%, -40%) !important;

  }
}


:host ::ng-deep .datatable-body-cell {
  font-size: 0.8rem !important;
}



