<!--
  ~ SSD - Sistema per il dimensionamento scolastico
  ~ Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
  -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Richieste, pareri, piani</h3>

                <div class="row">
                    <div *ngIf="rows" class=" col-xl-3 col-lg-3   col-md-2 col-sm-12 col-xs-12 ">
                        <label>Ricerca
                            <input [(ngModel)]="searchTextCodiceIstituzione" class=" form-control pull-right "
                                   type="text" placeholder="Cerca codice istituzione"
                                   (input)="filterText($event)"/>
                        </label>
                        <p><span
                                class="font-weight-bold">Filtra codice istituzione: {{searchTextCodiceIstituzione}}</span>
                        </p>


                    </div>
                    <div *ngIf="rows" class=" col-xl-3 col-lg-3   col-md-3 col-sm-12 col-xs-12 ">
                        <label>Ricerca
                            <input [(ngModel)]="searchTextComune" class="form-control pull-right " type="text"
                                   placeholder="Cerca comune"
                                   (input)="filterText($event)"/>
                        </label>
                        <p><span class="font-weight-bold">Filtra comuni: {{searchTextComune}}</span>
                        </p>


                    </div>

                </div>
                <div *ngIf="rows" class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <ngx-datatable #table [messages]="messages"
                                       resizable="true"
                                       class='table material'
                                       style="height: 80vh; "
                                       [rows]="rows " [columnMode]=" 'force' "
                                       [scrollbarV]="true"
                                       [scrollbarH]="true"
                                       [rowHeight]="35"
                                       [headerHeight]="50 "
                                       [footerHeight]="50 ">
                            <ngx-datatable-column *ngFor="let col of columns; let i=index "
                                                  [prop]=" col "
                                                  [name]="col "></ngx-datatable-column>

                            <!-- serve a sovrascivere il footer, vuoto per questa tabell -->
                            <ngx-datatable-footer></ngx-datatable-footer>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
