<!--
  ~ SSD - Sistema per il dimensionamento scolastico
  ~ Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
  -->

<div class="card">
    <div class="card-body">
        <div class="d-flex">
            <div>

                <h3 class="card-title"><span class="lstick"></span> {{title}} <span
                        *ngIf="annoScolastico">- {{annoScolastico.label}}</span>
                    <button class="btn btn-outline-info ml-2" (click)="exportCsv()"> Export CSV</button>

                </h3>

            </div>

        </div>
        <div class="row">

            <div *ngIf="cicli" class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label for="ciclo"> Seleziona ciclo
                    <select class="form-control " name="ciclo" id="ciclo" [(ngModel)]="cicloSelected"
                            (change)="filter()">
                        <option value="Tutti">Tutti</option>

                        <option [value]="ciclo"
                                *ngFor="let ciclo of cicli ">{{ciclo}}</option>
                    </select>
                </label>
                <p><span class="font-weight-bold">Filtra per ciclo: {{cicloSelected}}</span></p>
            </div>

            <div *ngIf="province" class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label for="provincia"> Filtra per provincia
                    <select class="form-control " name="provincia" id="provincia"
                            [(ngModel)]="provinciaSelected" (change)="filter()">
                        <option value="Tutti">Tutti</option>

                        <option [value]="provincia "
                                *ngFor="let provincia of province ">{{provincia}}</option>
                    </select>
                </label>
                <p><span class="font-weight-bold">Filtro selezionato: {{provinciaSelected}}</span></p>
            </div>

            <div *ngIf="comuni && provinciaSelected !='Tutti'"
                 class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label for="comuni"> Seleziona comune
                    <select class="form-control " name="comuni " id="comuni" [(ngModel)]="comuneSelected"
                            (change)="filter()">
                        <option value="Tutti">Tutti</option>

                        <option [value]="comune.nome " *ngFor="let comune of comuni ">{{comune.nome}}</option>
                    </select>
                </label>
                <p><span class="font-weight-bold">Filtro per comune: {{comuneSelected}}</span></p>
            </div>


            <div *ngIf="denominazioni && comuneSelected != 'Tutti'"
                 class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label for="denIS"> Seleziona denominazione IS
                    <select class="form-control " name="denIS " id="denIS" [(ngModel)]="denominazioneSelected"
                            (change)="filter()">
                        <option value="Tutti">Tutti</option>

                        <option [value]="denominazione.denominazioneIS "
                                *ngFor="let denominazione of denominazioni ">{{denominazione.denominazioneIS}}</option>
                    </select>
                </label>
                <p><span class="font-weight-bold">Filtro per denominazione: {{denominazioneSelected}}</span></p>
            </div>


            <div *ngIf="tipologie" class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label for="tipo"> Seleziona tipologia
                    <select class="form-control " name="tipo " id="tipo" [(ngModel)]="tipoSelected"
                            (change)="filter()">
                        <option value="Tutti">Tutti</option>

                        <option [value]="tipo"
                                *ngFor="let tipo of tipologie ">{{tipo}}</option>
                    </select>
                </label>
                <p><span class="font-weight-bold">Filtro per tipo: {{tipoSelected}}</span></p>
            </div>


        </div>
    </div>
    <div class="row ">

        <div class="offset-xl-5 col-xl-1  offset-lg-5 col-lg-1 ">
            <ngx-spinner color="#17a2b8" bdColor="rgba(51,51,51,0)" size="large" type="ball-clip-rotate"
                         [fullScreen]="false">
                <p class="mt-8" style="font-size: 18px;  color: #17a2b8">Caricamento...</p>
            </ngx-spinner>
        </div>
    </div>


    <div *ngIf="rows" class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

            <ngx-datatable #table
                           [rowClass]="getRowClass"
                           [limit]="20"
                           class='table material'
                           style="height: 500px"

                           [reorderable]="true"
                           [scrollbarV]="true"
                           [scrollbarH]="true"
                           [columnMode]=" 'flex' "
                           [rows]="rows"
                           [headerHeight]="50"
                           [footerHeight]="50"
                           [rowHeight]="80">

                <ngx-datatable-column
                        [flexGrow]="(col.id==4 || col.id==5 || col.id==6 || col.id==7 || col.id==8) ? 2:1"
                        *ngFor="let col of columns " [canAutoResize]="false" [name]="col.label"
                        [prop]="col.name">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <div><span class="custom-cell-header">{{column.name}}</span></div>
                    </ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span class="custom-cell-body">  {{ value | nd}} </span>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>


