/*
 * SSD - Sistema per il dimensionamento scolastico
 * Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
 */


.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.16));
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.16));
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
    padding: 10px 16px 10px 16px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 600px;
    font-size: 0.8em;
}

.ol-popup-content {
    /*max-height: 28vh;*/
    overflow: auto;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

:host /deep/ .custom-div {
    top: 4em;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 4px;
    right: 16px;
    overflow: auto;
    font-size: 24px;
    font-weight: bold;
}


