<!--
  ~ SSD - Sistema per il dimensionamento scolastico
  ~ Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
  -->

<nav class=" custom-position navbar navbar-expand-sm bg-white navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <app-map-confini [showConfini]=" showConfini" (filtraConfini)="filterConfini($event)"></app-map-confini>

        </li>


        <li>
            <app-map-filtro-sedi [disableAllFilter]="true"
                                 [disableCliclo1Filter]="true" [filtraSedi]="filtraSedi"
                                 (updateFiltraSedi)="aggiornaFiltroSedi($event)"></app-map-filtro-sedi>
        </li>
        <li class="nav-item">
            <app-map-etichette [infoSedi]="infoSedi" [infoSediSelected]="infoSediSelected"
                               (updateEtichetteSelected)="updateEtichetteSelected($event)"
            ></app-map-etichette>
        </li>
        <li class="nav-item">
            <app-map-opzioni [disableEdifici]="true"
                             [disableSpostamenti]="true"
                             [opzioniMap]="opzioniMap"
                             (updateOpzioniMap)="updateOpzioniOnMap($event)"></app-map-opzioni>
        </li>
    </ul>
</nav>


<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer" (click)="$event.preventDefault();closePopup()">&times;</a>
    <div class="ol-popup-content">
        <div [ngTemplateOutlet]="popupTemplate"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div id="map" class="map">
                    <app-map-legenda
                            [showLegend]="opzioniMap.showLegend"
                            [fields]="fields"
                            (updateShowLegend)="updateShowLegenda($event)">
                    </app-map-legenda>
                </div>
            </div>
        </div>
    </div>
</div>

