<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" [ngClass]="{'d-none': recoverform}">
                <h3 class="box-title m-b-20">Sign In</h3>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Username"></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" placeholder="Password"></div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 font-14">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember me</label>
                            <a (click)="showRecoverForm()" href="javascript:void(0)" id="to-recover"
                               class="text-dark float-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <a class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                           [routerLink]="['/dashboard/dashboard1']">Log In</a>
                    </div>
                </div>

                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <div>Don't have an account? <a class="text-info m-l-5"
                                                       [routerLink]="['/authentication/signup']"><b>Sign Up</b></a>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" id="recoverform" [ngClass]="{'d-block': recoverform}">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <h3>Recupero Password</h3>
                        <p class="text-muted">Inserisci la tua mail </p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Email"></div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <a class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light"
                           [routerLink]="['/login']">Reset</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
