<!--
  ~ SSD - Sistema per il dimensionamento scolastico
  ~ Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
  -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Linee di indirizzo</h3>

                <p class="py-2">
                    Con Deliberazione n. 1786 del 07/10/2019 la Giunta Regionale ha approvato le Linee di indirizzo per
                    il
                    dimensionamento scolastico e la programmazione dell&#39;offerta formativa per il biennio 2020/21 e
                    2021/22,
                    avviando l&#39;iter del procedimento di dimensionamento.
                    Le Linee di indirizzo e i relativi allegati sono consultabili di seguito.</p>


                <table class="table table-bordered mt-2">
                    <thead>
                    <tr>
                        <th>Descrizione</th>
                        <th>Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let allegato of allegati">
                        <td [innerHtml]="allegato.descrizione"></td>
                        <td>
                            <a href="{{allegato.link}}" download><i class="fa fa-save small pr-2"></i></a>
                            <a href="{{allegato.link}}" target="_blank">{{allegato.nome}}</a>

                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

