<!--
  ~ SSD - Sistema per il dimensionamento scolastico
  ~ Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
  -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle">È possibile cercare un comune per il quale ottenere la lista dei comuni
                    raggiungibili in meno di 60 minuti usando il trasporto su gomma.
                </h6>
                <label for="typeahead-focus">Cerca un comune:</label>
                <input id="typeahead-focus"
                       type="text"
                       class="form-control"
                       [(ngModel)]="comune"
                       [inputFormatter]="formatter"
                       [ngbTypeahead]="search"
                       [resultTemplate]="rt"
                       (selectItem)="selectedItem($event.item)"
                       (focus)="focus$.next($event.target.value)"
                       (click)="click$.next($event.target.value)"
                       #instance="ngbTypeahead"/>
                <ng-template #rt let-r="result" let-t="term">
                    {{ r.nome }}
                </ng-template>
                <hr/>
                <!--                                <pre>Model: {{ comune | json }}</pre>-->

                <div class="comuni-vicini" *ngIf="showRisultati">

                    <h3 class="card-title">Comuni vicino {{comune?.nome}}</h3>
                    <table class="table">
                        <tr>
                            <th>
                                Nome
                            </th>
                            <th>Provincia</th>
                            <th>Ambito</th>
                            <th>Minuti</th>
                        </tr>
                        <tr *ngFor="let comune  of comuniVicini">
                            <td>{{comune.nome}}</td>
                            <td>{{comune.provincia}}</td>
                            <td>{{comune.ambitoTerritoriale}}</td>
                            <td>{{comune.minuti}}</td>
                        </tr>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
