<!--
  ~ SSD - Sistema per il dimensionamento scolastico
  ~ Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
  -->

<nav class="navbar navbar-expand-sm bg-white navbar-dark pb-0 pt-3" *ngIf="showNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <div class="w-5">
                <ngx-spinner color="#17a2b8" bdColor="rgba(51,51,51,0)" size="small" type="ball-clip-rotate"
                             [fullScreen]="false"></ngx-spinner>
            </div>
        </li>
        <li class="nav-item">
            <app-map-confini [showConfini]=" showConfini" (filtraConfini)="filterConfini($event)"></app-map-confini>

        </li>
        <li class="nav-item">
            <app-map-tipo-is-organico [showTipoIsOrganico]="showTipoIsOrganico"
                                      (filtraTipoISOrganico)="reloadFilterTipoIsOrganico($event)"></app-map-tipo-is-organico>
        </li>

        <li>
            <app-map-filtro-sedi [filtraSedi]="filtraSedi"
                                 (updateFiltraSedi)="updateFiltroSedi($event)"></app-map-filtro-sedi>
        </li>


        <li class="nav-item">
            <app-map-etichette [infoSedi]="infoSedi" [infoSediSelected]="infoSediSelected"
                               (updateEtichetteSelected)="updateEtichetteSelected($event)"
            ></app-map-etichette>
        </li>
        <li class="nav-item">
            <app-map-opzioni [opzioniMap]="opzioniMap" (updateOpzioniMap)="updateOpzioniMap($event)"></app-map-opzioni>
        </li>
        <li class="nav-item">
            <div class="btn-group ml-1">
                <button [class.active]="showTabella" class="btn btn-outline-info" (click)="toggleShowTabella(mapTable)">
                    {{(showTabella) ? 'Nascondi' : 'Mostra'}} Tabella
                </button>
            </div>
        </li>
    </ul>
</nav>


<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer" (click)="$event.preventDefault();closePopup()"></a>
    <div id="popup-content">
        <div *ngIf="selectedIs!=null">
            <h3><b> {{selectedIs.denominazione}}</b>
            </h3>
            <table class="table">
                <tr>
                    <th>Codice</th>
                    <th>Ambito</th>
                    <th>Comune</th>
                    <th>Alunni</th>
                    <th>Disabili</th>
                    <th>Classi</th>
                </tr>
                <tr>
                    <td>
                        <a href="#" (click)="$event.preventDefault();goInIstituzioniPage()">
                            {{selectedIs.codice}}
                        </a>
                    </td>
                    <td>{{selectedIs.codiceAmbito}}</td>
                    <td>{{selectedIs.comuneSedeDirigenza}}</td>
                    <td>{{selectedIs.alunni?.totaleAlunni|nd}}</td>
                    <td>{{selectedIs.alunni?.totaleAlunniDisabili|nd}}</td>
                    <td>{{selectedIs.alunni?.totaleClassi|nd}}</td>
                </tr>
            </table>

            <h4>
                Sedi
            </h4>
            <div class="popup-sedi">
                <table class="table" *ngIf="selectedIs.sediCiclo1?.length>0 || selectedIs.sediCiclo2?.length>0">
                    <tr>
                        <th>Codice</th>
                        <th>Denominazione</th>
                        <th>Comune</th>
                        <th>Tipo</th>
                        <th>Alunni</th>
                        <th>Disabili</th>
                        <th>Classi</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let sede of selectedIs.sediCiclo1"
                        [ngClass]="sede.codice === selectedSede?.codice ? 'table-active':''">
                        <td>{{sede.codice}}</td>
                        <td>{{sede.denominazione}}</td>
                        <td>{{sede.comune}}</td>
                        <td>{{sede.tipologiaScuola}}</td>
                        <td>{{sede.alunni?.totaleAlunni|nd}}</td>
                        <td>{{sede.alunni?.totaleAlunniDisabili|nd}}</td>
                        <td>{{sede.alunni?.totaleClassi|nd}}</td>
                        <td>
                            <i class="fa fa-home" *ngIf="sede.sedeDirezioneAmministrativa"></i>
                            <br *ngIf="sede.sedeDirezioneAmministrativa">
                            <a href="#" class="fa fa-map-pin"
                               (click)="$event.preventDefault();apriPopupSede(sede)"></a>
                            <br>
                            <a href="#" class="fa fa-eye"
                               (click)="$event.preventDefault();dettaglioSedeCiclo1(sede.id)"></a>
                        </td>
                    </tr>
                    <tr *ngFor="let sede of selectedIs.sediCiclo2"
                        [ngClass]="sede.codice === selectedSede?.codice ? 'table-active':''">
                        <td>{{sede.codice}}</td>
                        <td>{{sede.denominazione}}</td>
                        <td>{{sede.comune}}</td>
                        <td>{{sede.tipologiaScuola}}</td>
                        <td>{{sede.alunni?.totaleAlunni|nd}}</td>
                        <td>{{sede.alunni?.totaleAlunniDisabili|nd}}</td>
                        <td>{{sede.alunni?.totaleClassi|nd}}</td>
                        <td>
                            <i class="fa fa-home" *ngIf="sede.sedeDirezioneAmministrativa"></i>
                            <br *ngIf="sede.sedeDirezioneAmministrativa">
                            <a href="#" class="fa fa-map-pin"
                               (click)="$event.preventDefault();apriPopupSede(sede)"></a>
                            <br>
                            <a href="#" class="fa fa-eye"
                               (click)="$event.preventDefault();dettaglioSedeCiclo2(sede.id)"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div id="map" class="map">
                    <app-map-legenda [showLegend]="opzioniMap.showLegend"
                                     [fields]="legendFields"
                                     (updateShowLegend)="updateShowLegenda($event)">
                    </app-map-legenda>
                </div>
            </div>
        </div>
    </div>
</div>


<div #mapTable>
    <div *ngIf="showTabella" class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <app-organico-primo-ciclo-od></app-organico-primo-ciclo-od>
                </div>
            </div>
        </div>
    </div>
</div>


