/*!
 * SSD - Sistema per il dimensionamento scolastico
 * Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
 */


.map {
  //width: 100%;
  height: 75vh;
}


.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 600px;
  font-size: 0.8em;
  z-index: 5;

}

.popup-sedi {
  max-height: 28vh;
  overflow: auto;
}

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: "✖";
}

:host /deep/ .custom-div {
  top: 4em;
}


.puntoErogazione-aa {
  color: #428bca;
}

.puntoErogazione-mm {

  color: #5cb85c;
}

.puntoErogazione-ee {
  color: #5bc0de;
}


.puntoErogazione-ss-it {
  color: #ffc107;
}

.puntoErogazione-ss-ip {
  color: #d9534f;
}

.puntoErogazione-ss-li {
  color: #8b4513;
}


.puntoErogazione-spostato {
  color: #4FA03B;
}

.link-spostamenti {
  display: inline-block;
  border: none;
  border-top: 2px dashed #4D5259;
  color: #fff;
  background-color: #fff;
  height: 50%;
  width: 20px;
  margin-right: 2px;
  margin-left: 2px;
}

.link-IS {
  display: inline-block;
  border: none;
  border-top: 2px solid #800080;
  color: #fff;
  background-color: #fff;
  height: 50%;
  width: 20px;
  margin-right: 2px;
  margin-left: 2px;
}


div.drop-item-submenu {
  display: none;
  top: 50%;
  left: 100%;

  &:hover {
    display: block;
  }
}


button.drop-submenu:hover + div.drop-item-submenu {
  display: block;

}

.dragme {
  border: 2px solid black;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

#legend {
  position: absolute;
  border: 1px solid;
  right: 20px;
  bottom: 20px;
  //width: 200px;
  //height: 400px;
  padding: 16px;
  background-color: #FFFFFF;
  z-index: 1;
}

#legend > ul {
  padding-inline-start: 0;
  list-style: none;
}


#legend i.pe {
  width: 24px;
  text-align: center;
  font-size: 24px;
}

#legend svg {
  margin-right: 2px;
  margin-left: 2px;
}

.legend-closer {
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 8px;
}

.legend-closer:after {
  content: "✖";
}

