<!--
  ~ SSD - Sistema per il dimensionamento scolastico
  ~ Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
  -->

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="stats-bar">
                    <div class="row text-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="p-20">
                                <h6 class=" font-weight-bold m-b-0">Tot. Comuni</h6>
                                <h3 class="font-weight-bold  m-b-0">{{totComuni}}</h3>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="p-20">
                                <h6 class=" font-weight-bold m-b-0">Tot. Ambiti</h6>
                                <h3 class=" font-weight-bold  m-b-0">{{totAmbiti}}</h3>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div *ngIf="statisticaAmbito" class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="stats-bar">
                    <div class="row text-center">
                        <div class="col-lg-3 col-md-3">


                            <div class="p-20">
                                <h6 class="m-b-0">Tot. Ist Ambito({{statisticaAmbito.codice}})</h6>
                                <h3 class="m-b-0">{{(statisticaAmbito.totaleIs != null) ? statisticaAmbito.totaleIs : 'ND'}}</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="p-20">
                                <h6 class="m-b-0">Tot. Alunni Ambito({{statisticaAmbito.codice}})</h6>
                                <h3 class="m-b-0">{{(statisticaAmbito.totaleAlunniAmbito != null) ? statisticaAmbito.totaleAlunniAmbito : 'ND'}}</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="p-20">
                                <h6 class="m-b-0">Tot. Alunni Disabili Ambito({{statisticaAmbito.codice}})</h6>
                                <h3 class="m-b-0">{{(statisticaAmbito.totaleAlunniDisabiliAmbito != null) ? statisticaAmbito.totaleAlunniDisabiliAmbito : 'ND'}}</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="p-20">
                                <h6 class="m-b-0">Tot. Classi Ambito({{statisticaAmbito.codice}})</h6>
                                <h3 class="m-b-0">{{(statisticaAmbito.totaleClassiAmbito != null) ? statisticaAmbito.totaleClassiAmbito : 'ND'}}</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
