<!--
  ~ SSD - Sistema per il dimensionamento scolastico
  ~ Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
  -->

<div class="btn-group ml-1" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button class="btn btn-outline-primary" ngbDropdownToggle>
        Ciclo di istruzione
    </button>
    <div class="dropdown-menu" ngbDropdownMenu>
        <button *ngIf="!disableAllFilter" class="dropdown-item" (click)="setFilterSediOff()">Tutti
            <i class="fa fa-check"
               *ngIf="!filtraSedi.filtraSediCiclo1.showOnlySediCiclo1 && !filtraSedi.filtraSediCiclo2.showOnlySediCiclo2"></i>

        </button>
        <button *ngIf="!disableCliclo1Filter" class="dropdown-item drop-submenu">Infanzia e I ciclo
            <span class="fa fa-caret-right mt-auto mb-auto  pull-right"></span>

        </button>
        <div *ngIf="!disableCliclo1Filter" class="dropdown-menu  drop-item-submenu" ngbDropdownMenu>
            <button class="dropdown-item" (click)="setFilterSediCiclo1GradoOff()">Infanzia e I ciclo
                <i class="fa fa-check"
                   *ngIf="!filtraSedi.filtraSediCiclo2.showOnlySediCiclo2
              && (!filtraSedi.filtraSediCiclo1.showOnlyCiclo1AA && !filtraSedi.filtraSediCiclo1.showOnlyCiclo1EE && !filtraSedi.filtraSediCiclo1.showOnlyCiclo1MM)"></i>

            </button>
            <button class="dropdown-item" (click)="setFilterCiclo1AA()">Infanzia
                <i class="fa fa-circle puntoErogazione-aa pull-right"></i>

                <i class="fa fa-check" *ngIf="filtraSedi.filtraSediCiclo1.showOnlyCiclo1AA"></i>

            </button>
            <button class="dropdown-item" (click)="setFilterCiclo1EE()">Primaria
                <i class="fa fa-circle puntoErogazione-ee pull-right"></i>

                <i class="fa fa-check" *ngIf="filtraSedi.filtraSediCiclo1.showOnlyCiclo1EE"></i>

            </button>
            <button class="dropdown-item" (click)="setFilterCiclo1MM()">Secondaria di I grado
                <i class="fa fa-circle puntoErogazione-mm pull-right"></i>

                <i class="fa fa-check" *ngIf="filtraSedi.filtraSediCiclo1.showOnlyCiclo1MM"></i>

            </button>


        </div>
        <button *ngIf="!disableCliclo2Filter" class="dropdown-item drop-submenu">II ciclo
            <span class="fa fa-caret-right mt-auto mb-auto  pull-right"></span>

        </button>
        <div *ngIf="!disableCliclo2Filter" class="dropdown-menu  drop-item-submenu" ngbDropdownMenu>
            <button class="dropdown-item" (click)="setFilterSediCiclo2IndirizziOff()">II ciclo
                <i class="fa fa-check"
                   *ngIf="
             !filtraSedi.filtraSediCiclo1.showOnlySediCiclo1
              &&
             (!filtraSedi.filtraSediCiclo2.showOnlyCiclo2LI && !filtraSedi.filtraSediCiclo2.showOnlyCiclo2IP && !filtraSedi.filtraSediCiclo2.showOnlyCiclo2IT)"></i>

            </button>
            <button class="dropdown-item" (click)="setFilterCiclo2LI()">Licei
                <i class="fa fa-circle puntoErogazione-ss-li pull-right"></i>

                <i class="fa fa-check" *ngIf="filtraSedi.filtraSediCiclo2.showOnlyCiclo2LI"></i>

            </button>
            <button class="dropdown-item" (click)="setFilterCiclo2IP()">Professionali
                <i class="fa fa-circle puntoErogazione-ss-ip pull-right"></i>

                <i class="fa fa-check" *ngIf="filtraSedi.filtraSediCiclo2.showOnlyCiclo2IP"></i>

            </button>
            <button class="dropdown-item" (click)="setFilterCiclo2IT()">Tecnici
                <i class="fa fa-circle puntoErogazione-ss-it pull-right"></i>

                <i class="fa fa-check" *ngIf="filtraSedi.filtraSediCiclo2.showOnlyCiclo2IT"></i>

            </button>

        </div>

    </div>
</div>

