<!--
  ~ SSD - Sistema per il dimensionamento scolastico
  ~ Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
  -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Accordo per la realizzazione di percorsi di ​IeFP da parte delle Istituzioni
                    scolastiche pugliesi ​di IP.</h3>

                <div class="py-2" style="text-align: justify">
                    <p>Nel Piano regionale di dimensionamento scolastico e programmazione dell&#39;offerta formativa per
                        il biennio
                        2020/21 e 2021/22 potrà essere autorizzata l’attivazione dei percorsi di Istruzione e Formazione
                        Professionale (IeFP), in regime di sussidiarietà, presso le Istituzioni scolastiche presso le
                        quali sono già attivi
                        indirizzi di Istruzione Professionale, accreditate ai sensi dell’Accordo sottoscritto in data
                        02/08/2019 tra
                        l’Ufficio Scolastico Regionale per la Puglia e l’Assessorato all&#39;Istruzione, Formazione e
                        Lavoro della Regione
                        Puglia in attuazione dell&#39;art. 7, comma 2, del D.Lgs n. 61 del 13/04/2017 (schema approvato
                        con DGR
                        1526/2019 e ss.mm. e ii. con DGR n. 1800 del 07/10/2019).
                    </p>
                    <ul>
                        <li><a href="/assets/files/documentazione2021/IeFP/Accordo IeFP.pdf">Testo accordo</a></li>
                        <li><a href="/assets/files/documentazione2021/IeFP/1800_2019_10_07.pdf">DGR n. 1800 del
                            07/10/2019</a></li>
                    </ul>
                    <p>
                        Possono presentare richiesta di attivazione di classi distinte di IeFP le Istituzioni
                        scolastiche, presso le quali
                        sono già attivi indirizzi di Istruzione Professionale, già autorizzate ad erogare nell’a.s.
                        2017/2018 i percorsi
                        di IeFP in regime di sussidiarietà, come da DGR n. 297 del 07/03/2017 e successiva DGR di
                        rettifica
                        n. 1244
                        del 28/07/2017.
                    </p>
                    <ul>
                        <li><a href="/assets/files/documentazione2021/IeFP/DGR 297 del 07-03-2017.pdf">DGR n. 297 del
                            07/03/2017</a></li>
                        <li><a href="/assets/files/documentazione2021/IeFP/All. 1 DGR 297-2017.pdf">Allegato 1 DGR
                            297-2017</a></li>
                        <li><a href="/assets/files/documentazione2021/IeFP/DGR 297 del 07-03-2017.pdf">DGR 1244 del
                            28-07-2017.pdf</a></li>
                        <li><a href="/assets/files/documentazione2021/IeFP/DAll. 1 DGR 1244-2017.pdf">Allegato 1 DGR
                            1244-2017</a></li>
                        <li><a href="/assets/files/documentazione2021/IeFP/ELENCO IS di IP.xlsx">Istituzioni
                            scolastiche, presso le quali sono già attivi indirizzi di Istruzione Professionale,
                            già autorizzate ad erogare nell’a.s. 2017/2018 i percorsi di IeFP in regime di sussidiarietà
                        </a></li>
                    </ul>

                    <p>Le richieste dovranno essere coerenti con gli indirizzi dei percorsi di IP attivi presso
                        l’Istituzione stessa, in
                        base alla Tabella di correlazione tra Qualifiche e Diplomi professionali di IeFP ed indirizzi
                        dei percorsi
                        quinquennali di IP. E’ attualmente in corso di definizione la nuova Tabella di correlazione tra
                        indirizzi dei
                        percorsi quinquennali di IP e Qualifiche e Diplomi professionali di IeFP riferita alle figure
                        del nuovo
                        Repertorio di cui all’Accordo MIUR/MLPS/Regioni del 01/08/2019 che sostituirà la tabella di cui
                        all’Allegato 4 del Decreto n. 92 del 24/05/2018.
                    </p>
                    <ul>
                        <li>
                            <a href="/assets/files/documentazione2021/IeFP/Tabella correlazione Qualifiche e Diplomi IeFP ed indirizzi IP - All 4 al Decreto 92 del 24-05-2018.pdf">
                                Tabella di Correlazione
                            </a></li>
                    </ul>

                    <p>L’Accordo Regione-USR è allineato all’Accordo in Conferenza Stato-Regioni del 31/07/2011, sancito
                        in
                        data
                        01/08/2019 tra il Ministro dell&#39;Istruzione, l&#39;Università e della Ricerca, il Ministro
                        del
                        Lavoro e delle Politiche
                        Sociali, le Regioni e la Provincia autonome di Trento e Bolzano per l&#39;aggiornamento e la
                        modifica del
                        Repertorio nazionale delle figure nazionali di riferimento per le qualifiche e diplomi
                        professionali, requisiti
                        degli standard minimi formativi relativi alle competenze di base e dei modelli di attestazione
                        intermedia e
                        finale dei percorsi di Istruzione e Formazione Professionale.
                    </p>
                    <ul>
                        <li><a href="/assets/files/documentazione2021/IeFP/ACCORDO-SR_31-07-2019.pdf">Accordo in
                            Conferenza Stato-Regione</a></li>
                        <li><a href="/assets/files/documentazione2021/IeFP/Allegato-2_figure-qualifica-prof.zip">Allegato
                            2 - figure di qualifica professionale</a></li>
                        <li><a href="/assets/files/documentazione2021/IeFP/Allegato 3_figure-diploma-prof.zip">Allegato
                            3 - figure di diploma professionale</a></li>
                        <li>
                            <a href="/assets/files/documentazione2021/IeFP/Allegato-4_standard-formativi-competenze-di-base-31-7-2019-per-commissione.docx">
                                Allegato 4 - standard formativi</a></li>
                    </ul>
                    <p>
                        Con nota prot. n. AOO_162/5915 del 04/11/2019 la Regione Puglia ha fornito indicazioni utili in
                        merito all'accreditamento delle Istituzioni scolastiche presso le quali sono attivi indirizzi
                        di Istruzione Professionale (ex art. 6 del D.Lgs. 17/05/2018) e all’attivazione dei percorsi di
                        IeFP presso le medesime Istituzioni Scolastiche.
                    </p>
                    <ul>
                        <li>

                            <a href="/assets/files/documentazione2021/20191104/Nota_prot.AOO-162-5915_del_04-11-2019.pdf">Nota
                                prot. n. AOO_162/5915 del 04/11/2019</a></li>
                        <li><a href="/assets/files/documentazione2021/20191104/Allegato1.pdf">Allegato 1 - Elenco delle
                            Istituzioni Scolastiche di IP intese accreditate</a></li>
                        <li><a href="/assets/files/documentazione2021/20191104/Allegato2.pdf">Allegato 2 - Elenco delle
                            figure di Operatore del Repertorio 2019 che trovano una corrispondenza con le figure di
                            Operatore del Repertorio 2011 attualmente conseguibili</a></li>

                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>

