<!--
  ~ SSD - Sistema per il dimensionamento scolastico
  ~ Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
  -->

<div id="legend" *ngIf="showLegend">
    <ng-template #popContent>
        Un P.E. la cui distanza è minore di {{distanzaPE}} metri da un
        altro P.E. viene mostrato in posizione diversa rispetto a quella memorizzata. <br>
        <b>N.B.</b>: il colore è indicativo, tutti i P.E. possono essere visualizzate in
        posizione diversa dall'originale.
    </ng-template>

    <a href="#" class="legend-closer" (click)="$event.preventDefault(); toggleLegenda()"></a>
    <h5>Legenda</h5>
    <ul>
        <li *ngFor="let field of fields">
            <span *ngIf="isArea(field)">
            <svg height="20" width="20">
                <rect height="20" width="20" [attr.fill]="field.color"></rect>
            </svg>
                {{field.label}}
                </span>
            <span *ngIf="isPunto(field)">
            <svg height="20" width="20">
                <circle cx="50%" cy="50%" r="50%" [attr.fill]="field.color"/>
                <text x="50%" y="50%" text-anchor="middle" dy=".3em" font-size="12"
                      fill="#fffFFF" *ngIf="field.spostato">I
                </text>
            </svg>
                {{field.label}} <i *ngIf="field.spostato" [ngbPopover]="popContent"
                                   class="text-default fa fa-info-circle"></i>
                </span>
            <span *ngIf="isLine(field)">
            <svg height="20" width="20">
                  <line x1="0" y1="10" x2="200" y2="10" [style.stroke]="field.color" [attr.stroke]="field.color"
                        [attr.stroke-dasharray]="field.dashed ? '5 3' :0"
                        stroke-width="2"/>
            </svg>
                {{field.label}}
                </span>
        </li>

    </ul>
</div>
