/*!
 * SSD - Sistema per il dimensionamento scolastico
 * Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
 */


.puntoErogazione-aa {
  color: #428bca;
}

.puntoErogazione-mm {

  color: #5cb85c;
}

.puntoErogazione-ee {
  color: #5bc0de;
}


.puntoErogazione-ss-it {
  color: #ffc107;
}

.puntoErogazione-ss-ip {
  color: #d9534f;
}

.puntoErogazione-ss-li {
  color: #8b4513;
}


.puntoErogazione-spostato {
  color: #4FA03B;
}

.link-spostamenti {
  display: inline-block;
  border: none;
  border-top: 2px dashed #4D5259;
  color: #fff;
  background-color: #fff;
  height: 50%;
  width: 20px;
  margin-right: 2px;
  margin-left: 2px;
}

.link-IS {
  display: inline-block;
  border: none;
  border-top: 2px solid #800080;
  color: #fff;
  background-color: #fff;
  height: 50%;
  width: 20px;
  margin-right: 2px;
  margin-left: 2px;
}


div.drop-item-submenu {
  display: none;
  top: 50%;
  left: 100%;

  &:hover {
    display: block;
  }
}


button.drop-submenu:hover + div.drop-item-submenu {
  display: block;

}


#legend {
  position: absolute;
  border: 1px solid;
  right: 20px;
  bottom: 20px;
  //width: 200px;
  //height: 400px;
  padding: 16px;
  background-color: #FFFFFF;
  z-index: 1;
}

#legend > ul {
  padding-inline-start: 0;
  list-style: none;
  margin-bottom: 0;
}


#legend i.pe {
  width: 24px;
  text-align: center;
  font-size: 24px;
}

#legend svg {
  margin: 4px 4px 4px 0;
}

.legend-closer {
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 8px;
}

.legend-closer:after {
  content: "✖";
}

