<!--
  ~ SSD - Sistema per il dimensionamento scolastico
  ~ Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
  -->

<div *ngIf="lineChartData1[0].data.length>0 && lineChartLabels1.length>0 " class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h3 class="card-title m-b-5"><span class="lstick"></span>Trend demografico </h3>
                    </div>
                </div>
                <div class="m-t-40" style="height:400px;">
                    <canvas baseChart [datasets]="lineChartData1" [labels]="lineChartLabels1"
                            [options]="lineChartOptions1" [colors]="lineChartColors1" [legend]="lineChartLegend1"
                            [chartType]="lineChartType1"></canvas>
                </div>
                <div class="stats-bar">
                    <div class="row text-center">
                        <div class="col-lg-4 col-md-4">
                            <div class="p-20">
                                <h6 class="m-b-0">{{lineChartLabels1[0]}}</h6>
                                <h3 class="m-b-0">Pop. demografica <strong>{{lineChartData1[0].data[0] | nd}}</strong>
                                </h3>
                                <h3 class="m-b-0">Pop. scolare <strong>{{lineChartData1[1].data[0] | nd}}</strong></h3>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="p-20">
                                <h6 class="m-b-0">{{lineChartLabels1[1]}}</h6>
                                <h3 class="m-b-0">Pop. demografica <strong>{{lineChartData1[0].data[1]|nd}}</strong>
                                </h3>
                                <h3 class="m-b-0">Pop. scolare <strong>{{lineChartData1[1].data[1]|nd}} </strong></h3>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="p-20">
                                <h6 class="m-b-0">{{lineChartLabels1[2]}}</h6>
                                <h3 class="m-b-0">Pop. demografica <strong>{{lineChartData1[0].data[2]|nd}} </strong>
                                </h3>
                                <h3 class="m-b-0">Pop. scolare <strong>{{lineChartData1[1].data[2]|nd}} </strong></h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
