<!--
  ~ SSD - Sistema per il dimensionamento scolastico
  ~ Copyright (c) 2020 ARTI - Agenzia Regionale per la Tecnologia e l'Innovazione della Regione Puglia.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program. If not, see https://www.gnu.org/licenses/agpl-3.0.txt.
  -->

<div class="card">
    <div class="card-body">
        <div class="d-flex">
            <div>
                <h3 class="card-title"><span class="lstick"></span>Dispersione scolastica</h3>
            </div>
        </div>

        <div class="row">
            <div *ngIf="ambiti" class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label for="ambiti"> Seleziona ambito
                    <select class="form-control " name="ambiti " id="ambiti" [(ngModel)]="ambitoSelected"
                            (change)="filter()">
                        <option value="Tutti">Tutti</option>

                        <option [value]="ambito.codice " *ngFor="let ambito of ambiti ">{{ambito.codice}}</option>
                    </select>
                </label>
                <p><span class="font-weight-bold">Filtro per ambito: {{ambitoSelected}}</span></p>
            </div>
            <div *ngIf="comuni" class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label for="comuni"> Seleziona comune
                    <select class="form-control " name="comuni " id="comuni" [(ngModel)]="comuneSelected"
                            (change)="filter()">
                        <option value="Tutti">Tutti</option>

                        <option [value]="comune.nome " *ngFor="let comune of comuni ">{{comune.nome}}</option>
                    </select>
                </label>
                <p><span class="font-weight-bold">Filtro per comune: {{comuneSelected}}</span></p>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

                <ngx-datatable #table
                               [limit]="20"

                               [columnMode]=" 'force' "

                               [headerHeight]="50 "
                               [footerHeight]="50 "
                               [rowHeight]="80"
                               [columns]="columns"
                               class='table material'
                               style="height: 500px"
                               [rows]="rows"
                               [reorderable]="true"
                               [scrollbarV]="true"
                               [scrollbarH]="true"
                >

                </ngx-datatable>
            </div>
        </div>
    </div>
</div>
